/* Estilos CSS básicos para el panel de administración */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

/* Estilos para la tabla de productos */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Estilos para los botones de acción */
.btn {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
}


/* Estilos para el contenedor de botones */
.button-container {
    display: flex; /* Utiliza flexbox */
    gap: 10px; /* Espacio entre los botones */
}

.btn-delete {
    background-color: #dc3545; /* Color para el botón Eliminar */
}

.btn-update {
    background-color: #28a745; /* Color para el botón Enviar Pedido */
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 720px) {
    .responsive-table {
        width: 100%;
    }

    .responsive-table th,
    .responsive-table td {
        display: block;
        width: 100%;
    }

    .product-image {
        max-width: 100px; /* Ajusta el ancho máximo de la imagen según tus necesidades */
        height: auto;
    }

    .btn-add{
        background-color: blueviolet;
    }
}
