{% extends "base.html" %}

{% block title %}¿Quiénes Somos?{% endblock %}

{% block content %}
<!--Contenido Principal-->
<main class="seccion contenedor">
	<h1 style="text-align: center;">¿Quiénes Somos?</h1>
	
	<h2 style="text-align: center;">Nuestra Misión</h2>
	<p style="text-align: center;">En Inversiones JuanPI, nuestra misión es proporcionar a nuestros clientes la frescura y calidad de las frutas y verduras más deliciosas. Trabajamos arduamente para seleccionar los productos más frescos y nutritivos, directamente del campo a su mesa.</p>

	<h2 style="text-align: center;">Nuestra Visión</h2>
	<p style="text-align: center;">Nuestra visión es convertirnos en su elección preferida para frutas y verduras frescas y saludables. Queremos ser reconocidos como líderes en la industria, brindando un servicio excepcional y productos de alta calidad que inspiren una vida más saludable y feliz.</p>
</main>
{% endblock %}
