<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/normalize.css"> 
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="../static/imagenes/logo.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <!-- Enlace al archivo CSS de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!-- Enlace al archivo JavaScript de Bootstrap (incluye jQuery) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



    <!--  SweetAlert JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


    <title>Restablecer Contraseña | Inversiones JuanPI</title>

</head>


<style>
.fa-eye{
    position: absolute;
    right: 3%;
    top: 43%;
}

.fa-eye-slash{
    position: absolute;
    right: 3%;
    top: 43%;
}

@media screen and (max-width: 720px) {
    .fa-eye{
        position: absolute;
        right: 2%;
        top: 33%;
    }

    .fa-eye-slash{
        position: absolute;
        right: 2%;
        top: 33%;
    }

}

</style>

<body>
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
              {% for category,message in messages %}
              <script>
                  var type = 'info';

                  if("{{category}}" == 'success'){
                    type = 'success';
                  }
                  else{
                    type = 'error';
                  }
                  
                  Swal.fire({
                      icon: type,
                      text: "{{message}}",
                      showConfirmButton: true,
                      timer: 5000
                  })
              </script>
              {% endfor %}
          {% endif %}
      {% endwith %}

      <header class="site-header inicio">
        <div class="contenedor">
            <div class="baner">
                <div class="barra">
                    <div class="logo-nav">
                        <a href="{{ url_for('home') }}">
                            <img src="../static/imagenes/logo.png" alt="Logotipo">
                        </a>
                        <nav class="navegacion">
                            <a class="home" href="{{ url_for('home') }}">Inicio</a>
                            <a class="about" href="{{ url_for('about') }}">¿Quienes somos?</a>
                            <a class="home" href="{{ url_for('contact') }}">Contacto</a>
                            <a class="about" href="{{ url_for('login') }}">Cuenta</a>
                        </nav>
                    </div><!--logo-nav-->
                </div><!--barra-->
            </div><!--baner-->
        </div><!--contenedor-->
    </header>
    
<section>
    <br><br> <!-- Espacio -->
    <div class="formulario-login">
        <h2>Nueva Contraseña</h2>
        <form method="POST">
            <div class="password-input">
                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" name="password" class="password-field">
                <i class="fa-solid fa-eye" id="show-password" style="color: #211c1c;"></i>
            </div>

            <div class="password-input">
                <label for="contrasena">Confirmar Contraseña:</label>
                <input type="password" id="confirmar-contrasena" name="confirm-password" class="password-field" required>
                <i class="fa-solid fa-eye" id="show-password2" style="color: #211c1c;"></i>
            </div>

            <br>

            <button type="submit">Guardar</button>
            <br>        
        </form>
    </div>
</section>


<br><br> <!-- Space -->

<footer class="footer">
    <div class="footer-container">
        <div class="footer-info">
            <h3>Horario de Atención</h3>
            <p>Lunes - Viernes: 8am - 5pm</p>
            <p>Dirección: Av. 1 Comercio, Calles Sucre y Juan A</p>
        </div>

        <div class="footer-social">
            <h3>Síguenos en Redes Sociales</h3>
            <ul>
                <li><a href="https://wa.me/tunumero" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="https://www.instagram.com/tu_cuenta" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/tu_cuenta" target="_blank"><i class="fab fa-facebook"></i></a></li>
            </ul>
        </div>
    </div>
</footer>

<script src="../static/js/app.js"></script>
</body>
</html>


